* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: inherit;
  list-style-type: none;
  font-size: 2rem;
}

a {
  text-decoration: none;
  cursor: pointer;
}

/* [class*='fa'], a{
  background-color: orange;

} */

/*****Social*****/

.social {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
  align-items: center;
  justify-self: center;
}

ul.social li a {
  padding: 0 1rem;
}

.social li:hover {
  transform: scale(1.2);
}

.fa-facebook {
  color: #0571e6 !important;
}

.fa-twitter {
  color: #1d9bf0;
  z-index: 1;
  background-color: transparent;
}
.fa-telegram {
  color: #0a88c7;
  z-index: 1;
  background-color: transparent;
}

.fa-instagram {
  color: #f15245;
}
.fa-youtube {
  color: #e21;
}
.fa-discord {
  color: #404eed;
}
.fa-globe {
  color: #1ed95f;
}
/************************/

/*****Social*****/
